<section class="container portfolio-container">
  <div>
    <h2 class="portfolio-heading">portfolio</h2>
    <p class="portfolio-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, suscipit neque ut auctor.
      Vitae fames sit quis elit et gravida risus massa sed. Vulputate est, enim, neque diam. Aliquet
      sed nec, nisl nulla morbi sed in morbi rutrum. Semper massa rhoncus aenean nibh. Id tincidunt
      facilisi faucibus ullamcorper malesuada euismod. Parturient aliquam sagittis leo vitae massa.
      Integer ultrices nulla sed interdum suspendisse diam. Vulputate ultricies velit auctor sem
      massa, sit habitant. Non bibendum mi arcu, elementum donec nam at tincidunt feugiat. Tortor
      orci at quam odio eget vitae. Fermentum, quam metus sodales arcu consectetur euismod pretium.
      Ornare varius tristique amet vivamus pellentesque. Eu consectetur diam habitant purus nibh.
    </p>
  </div>
  <div class="gallery">
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work1.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work1.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 1</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work2.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work2.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 2</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work3.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work3.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 3</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work4.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work4.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 4</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work5.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work5.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 5</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work6.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work6.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 6</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work7.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work7.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 7</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front" style="background-image: url(./images/portfolio/work8.jpg)"></div>
        <div class="back" style="background-image: url(./images/portfolio/work8.jpg)">
          <div class="back-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.Lorem ipsum dolor sit amet, consectetur
            </p>
          </div>
        </div>
        <h3 class="card-name">Work 8</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</section>
