<section class="container team-container">
  <div>
    <h2 class="team-heading">Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eros, nullam porta netus
      ultrices congue. Pulvinar arcu, velit enim, tincidunt in. Arcu ut ut aliquam proin. Ultrices
      quam vulputate egestas arcu. Id fringilla nibh posuere arcu fermentum sed massa vitae gravida.
      Facilisi nunc, sit aenean magna. Quis viverra lacus, elementum vel molestie amet cras sit.
      Nullam adipiscing fermentum massa commodo sed quis id. Cras volutpat.
    </p>
  </div>
  <div class="multiple-items">
    <div class="teammate">
      <img src="./images/team/anna.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Anna</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
    <div class="teammate">
      <img src="./images/team/maria.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Maria</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
    <div class="teammate">
      <img src="./images/team/roman.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Roman</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
    <div class="teammate">
      <img src="./images/team/max.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Max</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
    <div class="teammate">
      <img src="./images/team/kate.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Kate</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
    <div class="teammate">
      <img src="./images/team/dan.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Dan</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
    <div class="teammate">
      <img src="./images/team/jane.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Jane</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
    <div class="teammate">
      <img src="./images/team/new_max.jpg" alt="" />
      <div class="about-team">
        <h2 class="name">Max</h2>
        <p class="quote">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum</p>
      </div>
    </div>
  </div>
</section>
